<mat-form-field>
  <mat-label>Buscar </mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div *ngIf=" dataSource === undefined" class="alert alert-warning text-center">
  No hay registros para mostrar
</div>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="tableDataSource" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let raee"> {{raee.LecturaRaee[0][column]}} </td>
    </ng-container>

    <!--

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let raee">
        <button mat-icon-button aria-label="expand row" (click)="(expandedRaee = expandedRaee === expandedRaee ? null : raee); $event.stopPropagation()">
          <mat-icon *ngIf="expandedRaee !== raee">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedRaee === raee">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="Ver Mas">
      <th mat-header-cell *matHeaderCellDef> VER MAS </th>
      <td mat-cell *matCellDef="let raee">
        <a [routerLink]="['/RAEE/listadoRaee/idLectura', raee.CargaDatosLecturasId]">Info</a>
      </td>
    </ng-container> -->
<!--
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let raee" [attr.colspan]="columnsToDisplay.length">

        <div class="example-element-detail"
             [@detailExpand]="raee == expandedRaee ? 'expanded' : 'collapsed'">
            <div class="example-element-position"> {{raee.FechaLectura}} </div>
            <div class="example-element-position"> {{raee.TipoLectura}} </div>
            <div class="example-element-position"> {{raee.Donde}} </div>
            <div class="example-element-position"> {{raee.Region}} </div>
            <div class="example-element-position"> {{raee.Provincia}} </div>
            <div class="example-element-position"> {{raee.GeoPosicion}} </div>
            <a [routerLink]="['/RAEE/listadoRaee/idLectura', raee.CargaDatosLecturasId]">Info</a>
        </div>
      </td>
    </ng-container> -->

    <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let raee; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedRaee === raee"
        (click)="expandedRaee = expandedRaee === raee ? null : raee">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>


  <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6]" (page)="SaveCache()" (pageSize)="SaveCache()"></mat-paginator>


</div>
