
table {
  width: 100%;
  background-color:#f4f8fd;;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
.tablaGeneral th,
.paginator{
  background-color: #235789;
  color: white;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.tablaExpandir {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  border-width: medium;


}

.tablaExpandir th,
.tablaExpandir td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tablaExpandir th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.tablaExpandir td {
  color: #555;
background-color: white;;
}

.ver-mas {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2196f3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.ver-mas:hover {
  background-color: #0d47a1;
}
.buscar {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: flex-start; /* Alinea los elementos a la izquierda verticalmente */
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.buscar h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
  margin-bottom: 10px; /* Añade un margen inferior para separar el título y el campo de búsqueda */
  width: 100%; /* Establece el ancho del título al 100% */
}

.mat-form-field {
  width: 100%; /* Establece el ancho del campo de formulario al 100% */
  margin-top: 0; /* Elimina el margen superior del campo de búsqueda para acercarlo al título */
}



.mat-label {
  font-weight: bold;
  color: #666;
}

.mat-input-element {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 8px;
  color: #333;
}

.mat-input-element::placeholder {
  color: #999;
}

/* Añade más estilos según tus necesidades */



